<footer>
  <div class="footer__wrapper">
    <img
      onclick="window.location.href = '/Kochwelt - Kopie/index.html'"
      class="footer-logo"
      src="/Kochwelt - Kopie/assets/img/logo_white.png"
      alt="Kochwelt Logo"
    />

    <img onclick="window.location.href = '/Kochwelt - Kopie/index.html'"
    class="footer-logo-small" 
    src="/Kochwelt - Kopie/assets/img/logo_small_white.png" 
    alt="Kochwelt Logo Small"
    />

    <div class="footer-links-group">
      <ul class="footer-links">
        <li><a href="/Kochwelt - Kopie/pages/datenschutz.html">Datenschutz</a></li>
        <li><a href="/Kochwelt - Kopie/pages/impressum.html">Impressum</a></li>
      </ul>
    </div>

    <div class="social-icons">
      <a href="https://www.facebook.com">
        <img src="/Kochwelt - Kopie/assets/img/facebook.svg" alt="Facebook" />
        Facebook
      </a>
      <a href="https://www.instagram.com">
        <img src="/Kochwelt - Kopie/assets/img/instagram.svg" alt="Instagram" />
        Instagram</a
      >
      <a href="https://www.twitter.com">
        <img src="/Kochwelt - Kopie/assets/img/twitter.svg" alt="Twitter" />
        Twitter</a
      >
    </div>
  </div>
</footer>
