<footer>
  <picture>
    <source
      media="(max-width: 768px)"
      srcset="../assets/img/logo_small_white.png" />
    <img
      class="footer-logo"
      src="../assets/img/logo_white.png"
      alt="Kochwelt Logo"
  /></picture>
  <div class="footer__wrapper">
    <picture>
      <source
        media="(max-width: 768px)"
        srcset="./assets/img/logo_small_white.png" />
      <img
        class="footer-logo"
        src="./assets/img/logo_white.png"
        alt="Kochwelt Logo"
    /></picture>

    <div class="footer-links-group">
      <ul class="footer-links">
        <li><a href="../pages/datenschutz.html">Datenschutz</a></li>
        <li><a href="../pages/impressum.html">Impressum</a></li>
      </ul>
    </div>

    <div class="social-icons">
      <a href="https://www.facebook.com">
        <img src="../assets/img/facebook.svg" alt="Facebook" />
        Facebook
      </a>
      <a href="https://www.instagram.com">
        <img src="../assets/img/instagram.svg" alt="Instagram" />
        Instagram</a
      >
      <a href="https://www.twitter.com">
        <img src="../assets/img/twitter.svg" alt="Twitter" />
        Twitter</a
      >
    </div>
  </div>
</footer>
