<header>
  <div class="navigation__wrapper">
    <a href="./index.html"><img src="./assets/img/logo.png" alt="Logo" /></a>
    <button class="burgerBTN" onclick="toggleMenu()">
      <span class="burgerLine"></span>
      <span class="burgerLine"></span>
      <span class="burgerLine"></span>
    </button>
    <nav class="navigation-pagetop" id="menu">
      <a onclick="toggleMenu()" class="underline nav__link" href="./index.html"
        >Start</a
      >

      <a
        onclick="toggleMenu()"
        class="underline nav__link"
        href="./pages/recipes.html"
        >Rezept des Tages</a
      >

      <a
        onclick="toggleMenu()"
        class="underline nav__link"
        href="./pages/contact.html"
        >Kontakt</a
      >

      <a onclick="toggleMenu()" class="underline" href="./pages/impressum.html"
        >Impressum</a
      >
    </nav>
  </div>
</header>
