<header>
      <nav class="navigation-pagetop">
        <ul>
          <li class="logo">
            <img src="../assets/img/logo_small.png" alt="Logo" />
            <span>Kochwelt</span>
          </li>

          <li><a href="/index.html">Start</a></li>
          <li><a href="#">Rezept des Tages</a></li>
          <li><a href="/pages/contact.html">Kontakt</a></li>
          <li><a href="/pages/impressum.html">Impressum</a></li>
        </ul>
      </nav>
    </header>

    <div class="divider-demo">
      <div class="gradient-divider"></div>
    </div>