<header>
  <div class="navigation__wrapper">
    <nav class="navigation-pagetop">
      <ul>
        <li class="logo">
          <img src="../assets/img/logo.png" alt="Logo" />
        </li>

        <li><a class="underline" href="/index.html">Start</a></li>
        <li><a class="underline" href="#">Rezept des Tages</a></li>
        <li><a class="underline" href="/pages/contact.html">Kontakt</a></li>
        <li><a class="underline" href="/pages/impressum.html">Impressum</a></li>
      </ul>
    </nav>
  </div>
</header>
