/* Regular */
@font-face {
    font-family: 'Raleway';
    src: url('assets/font/Raleway-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Bold */
@font-face {
    font-family: 'Raleway';
    src: url('asset/font/Raleway-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

/* Italic */
@font-face {
    font-family: 'Raleway';
    src: url('assets/font/Raleway-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

/* Bold Italic */
@font-face {
    font-family: 'Raleway';
    src: url('assets/font/Raleway-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

body {
    font-family: 'Raleway', sans-serif;
}