:root {
  /* --- Primary Green & Variants --- */
  --clr-primary-400: hsl(120, 100%, 25%); /* Dein Basis-Grün */
  --clr-primary-200: hsl(120, 70%, 65%); /* Heller für Hover/Interaktion */

  --clr-neutral: #ffff;

  --clr-neutral-200: hsl(0, 0%, 90%); /* Sehr helles Grau */
  --clr-neutral-500: hsl(0, 0%, 50%); /* Mittleres Grau */
  --clr-neutral-600: hsl(0, 0%, 35%); /* Dunkleres Grau */
  --clr-neutral-700: hsl(0, 0%, 25%);
  --clr-neutral-800: hsl(0, 0%, 15%);
  --clr-neutral-900: hsl(0, 0%, 5%); /* Fast Schwarz */

  /* --- Typo --- */
  --ff-base: "Raleway", sans-serif;

  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-md: 1.125rem;
  --fs-lg: 1.5rem;
  --fs-xl: 2rem;
  --fs-xxl: 3rem;
  --fs-xxxl: 6rem;
}

/* Regular */
@font-face {
  font-family: "Raleway";
  src: url("assets/font/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Bold - Pfad korrigiert von asset/ zu assets/ */
@font-face {
  font-family: "Raleway";
  src: url("assets/font/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: "Raleway";
  src: url("assets/font/Raleway-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Bold Italic */
@font-face {
  font-family: "Raleway";
  src: url("assets/font/Raleway-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

/* =========================
   GLOBAL LAYOUT
========================= */

body {
  font-family: var(--ff-base);
  color: var(--clr-neutral-900);
  font-size: var(--fs-base);
  font-variant-numeric: oldstyle-nums;
  width: 100%;
}

/* Headersection allgemin */
header {
  padding: 15px 160px;
  font-size: 20px;
  width: 100%;
  box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.24);

  height: 150px;
}

.burgerBTN {
  display: none;
}

.burgerLine {
  display: none;
}

.navigation__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.underline:hover {
  text-decoration: underline var(--clr-primary-400) 5px;
  text-underline-offset: 10px;
}

/* allgemein navigation-pagetop section */

.navigation-pagetop {
  display: flex;
  gap: 16px;

  height: 120px;
  align-items: flex-end;
}

/* Verteilung Logo und Elemente oben */
.logo {
}

/*Logo*/
.navigation-pagetop img {
  height: 50px;
  width: auto;
}

/*Kochwelt*/
.logo span {
  font-size: 25px;
  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
  position: relative;
  top: 0px;
  left: 0px;
  margin-bottom: 0px;
}

/* Links einzelne Bestandteile*/
.navigation-pagetop li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Schrift Links*/
.navigation-pagetop a {
  text-decoration: none;
  color: #403b3b;
  font-size: 16px;
  font-weight: 600;
}

/*Schrift beim Hovern*/
.navigation-pagetop a:hover {
  color: #018001;
}

/* =========================
   Main Layout
========================= */
/* Highlight - Section*/

.section__highlight-recipe {
  padding: 80px 160px 80px 160px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 24px;

  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.section__highlight-recipe img {
  height: 250px;
  width: auto;
  border-radius: 0.5rem;

  object-fit: cover;
}

.highlight-recipe {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.highlight-recipe__btn {
  width: 400px;
}

/* Recipe Gallery - Section*/

.section__recipe-gallery {
  padding: 80px 160px 80px 160px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;

  background-color: var(--clr-neutral-200);
}

.recipe-gallery__content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  text-align: center;
}

.recipe-gallery__wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/*.recipe-gallery__item {
}*/

.recipe-gallery__item img {
  height: 200px;
  width: 200px;

  border-radius: 0.5rem;

  object-fit: cover;
}

/* Additional Info - Section*/

.section__additional-info {
  padding: 80px 160px 80px 160px;
  text-align: center;
}

.additional-info__content {
  display: flex;

  gap: 24px;

  max-width: 1440px;
  width: auto;
  margin: 0 auto;

  text-align: left;
}

.additional-info__content img {
  height: 200px;
  width: 200px;

  border-radius: 0.5rem;

  object-fit: cover;
}

/* =========================
   FOOTER LAYOUT
========================= */

footer {
  background-color: #3b3b3b;
  height: 120px;
  width: 100%;

  padding-left: 160px;
  padding-right: 160px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;

  max-width: 1440px;
  width: 100%;
}

.footer-logo {
  height: 80px;
}

footer ul {
  display: flex;
  gap: 16px;
  list-style: none;
  padding-right: 30px;
}

/* Social Links*/

.social-icons {
  display: inline-flex;
  gap: 16px;
  align-items: flex-end;
}

.footer-links-group {
  margin-left: auto;
}

.footer-links {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-links a {
  text-decoration: none;
  color: var(--clr-neutral-900);
  font-size: var(--fs-sm);
  transition: border-color 0.3s ease;
  height: 30px;
  border-radius: 5px;
  color: var(--clr-neutral-200);
}

/* a Styles*/

footer a {
  display: inline-flex;
  align-items: center;
  background: var(--clr-primary-400);
  text-decoration: none;
  color: #ffffff;
  border: ridge 2px #000000;
  border-radius: 10px;
  padding: 8px 16px;
  backdrop-filter: blur(20px);
}

footer a:hover {
  transform: translate3d(-10px, -10px, -15px);
  box-shadow:
    0 20px 20px rgba(0, 0, 0, 0.3),
    0 0 15px rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    to bottom left,
    var(--clr-primary-200),
    var(--clr-primary-400),
    var(--clr-primary-200)
  );

  transition: all 0.3s ease;
}

footer a img {
  height: 24px;
  width: auto;
  fill: #ffffff;
  flex-shrink: 0;
}

/* =========================
   Kontaktseite Layout
========================= */

.contact-container {
  padding: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  max-width: 400px;
  border: 8px solid var(--clr-neutral-200);
  border-radius: 10px;
  padding: 24px;
}

@media screen and (max-width: 1200px) {
  .burgerBTN {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    gap: 6px;
    border: none;
    cursor: pointer;
    z-index: 101;
  }

  .burgerLine {
    display: block;
    height: 3px;
    background-color: var(--clr-neutral-900);
    width: 30px;
    border-radius: 2px;
  }

  .navigation-pagetop {
    display: none;

    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    background-color: var(--clr-neutral);
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 150px);
    padding-top: 40px;
    border-top: 1px solid var(--clr-neutral-200);
  }

  .navigation-pagetop.show {
    display: flex;
  }

  .nav__link {
    font-size: var(--fs-lg);
    padding: 16px;
  }
}
