:root {
  /* --- Primary Green & Variants --- */
  --clr-primary-400: hsl(120, 100%, 25%); /* Dein Basis-Grün */
  --clr-primary-200: hsl(120, 70%, 65%); /* Heller für Hover/Interaktion */

  --clr-neutral-200: hsl(120, 10%, 90%); /* Sehr helles Grau */
  --clr-neutral-500: hsl(120, 8%, 50%); /* Mittleres Grau */
  --clr-neutral-600: hsl(120, 8%, 35%); /* Dunkleres Grau */
  --clr-neutral-700: hsl(120, 10%, 25%);
  --clr-neutral-800: hsl(120, 12%, 15%);
  --clr-neutral-900: hsl(120, 15%, 5%); /* Fast Schwarz */

  /* --- Typo --- */
  --ff-base: "Raleway", sans-serif;

  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-md: 1.125rem;
  --fs-lg: 1.5rem;
  --fs-xl: 2rem;
  --fs-xxl: 3rem;
  --fs-xxxl: 6rem;
}

/* Regular */
@font-face {
  font-family: var(--ff-base);
  src: url("assets/font/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: var(--ff-base);
  src: url("asset/font/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: var(--ff-base);
  src: url("assets/font/Raleway-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

/* Bold Italic */
@font-face {
  font-family: var(--ff-base);
  src: url("assets/font/Raleway-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

body {
  font-family: var(--ff-base);
  color: var(--clr-neutral-900);
  font-size: var(--fs-base);
  max-width: 1920px;
}
